/* customStyles.scss */
.dropdown-toggle {
    background-color: 			#ba0c0c; /* Cor de fundo personalizada */
    border: none; /* Remover borda padrão */
    color: #FFF; /* Cor do texto */
    text-transform: uppercase;
  }
  
  .dropdown-toggle:hover {
    background-color:	#980a0a; /* Cor de fundo ao passar o mouse */
  }
  