.movie-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 90%;
  text-align: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 72px);
}

.tagline {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration:overline ;
  margin-bottom: 30px;
}

.movie-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.movie-background {
  width: 500px; 
  height: auto; 
  margin-right: 2rem; 
}

.movie-background img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-description {
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ccc; 
  border-radius: 8px;
  background-color: #333;
  position: relative;
}

.movie-description h3 {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-description h3 svg {
  margin-right: 0.8rem;
}

.movie-description p {
  margin: 0;
  text-align: justify;
}

.movie-description .description {
  margin-bottom: 0.8rem;
}

.movie-description .rating {
  margin-bottom: 0.5rem;
}


.favorite-button {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
}

.custom-button {
  width: auto; 
}
