.signUpContainer {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signUpHeadline {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c757d;
    width: 100%;
    text-align: center;
  }
  
  .signUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
  }
  
  .signUpInputContainer {
    width: 100%;
    margin-bottom: 20px;
    color: #ffffff;
    p {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

.links-container {
    display: flex;
    gap: 20px;
    margin-top: 1px;
}

.link-item {
    color: #ffffff;
    cursor: pointer;
}

.link-item:hover {
    color: 	#831010;
}
  