*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/movie-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; 
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    filter: brightness(22%);
    z-index: -1;
    pointer-events: none; 
}
