.home-container {
    padding: 0 2rem;
  }
  
  .highlight-title {
    text-align: center;
    margin-top: 2rem;
  }
  
  .highlight-title h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  
  .popular-title {
    text-align: left;
    margin: 1rem 0;
  }
  
  .popular-title h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    padding-left: 3rem;
    color: #fff;
  }
  