.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #831010;
  padding: 15px 7%;
  color: #ffffff;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px; 
}

.header-logo {
  width: 50px;
  height: auto;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.header-search {
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
}
